
<div class="content" role="main">

    <div>
        <h1>
            <mat-icon class="big-icon" aria-hidden="false" aria-label="Movies App!">local_movies</mat-icon>
            {{ title | dashesToSpaces: '-' | titlecase }}
        </h1>
        <h3>{{ description }}</h3>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-4">
        <mat-form-field id="movieName" class="d-flex justify-content-center full-width">
            <input matInput type="text" placeholder="Find movies or series by their name" [(ngModel)]="search" (keyup)="onKey($event)">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <div>
            <table mat-table [dataSource]="data" class="table-hover full-width">

                <!-- Poster Column -->
                <ng-container matColumnDef="poster">
                    <th mat-header-cell *matHeaderCellDef>Poster</th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="row.Poster !== 'N/A'; then withPoster else withoutPoster"></div>
                        <ng-template #withPoster>
                            <img [src]="row.Poster" alt="row.Title" width="50">
                        </ng-template>
                        <ng-template #withoutPoster>
                            <img src="../assets/image/noposter.jpg" alt="row.Title" width="50">
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let row">{{row.Title}}</td>
                </ng-container>

                <!-- Year Column -->
                <ng-container matColumnDef="year">
                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Year</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let row">{{row.Year | onGoingFilm }}</td>
                </ng-container>

                <!-- Movie/Series Column -->
                <ng-container matColumnDef="movieSeries">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let row">{{row.Type | titlecase}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [id]="row.imdbID" *matRowDef="let row; columns: displayedColumns;" (click)="openMovieDialog(row.imdbID)"></tr>
            </table>
            <div *ngIf="isEmpty" class="d-flex justify-content-center">
                <p>{{ emptyMessage }} </p>
            </div>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </div>
</div>

<router-outlet></router-outlet>
